@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body{
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    text-align: center;
    flex: auto;
}

header {
    font-family: "Barlow Condensed", sans-serif;
    font-weight: 600;
    font-size: 18px;
    text-transform: uppercase;
    background-color: #373737;
    color: white;
    padding: 10px 0;
}

h1, h2, h3 {
    font-family: "Barlow Condensed", sans-serif;
    margin: 0;
}

ul {
    list-style-type: none;
    padding: 0;
}

.main {
    padding: 20px;
}
.main-article {
    background-color: white;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.3);
}
.informacion {
    font-family: 'Times New Roman', Times, serif;
    background-color: white;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    text-align: center;
}
.portada {
    max-width: 50%;
    height: auto;
    border-radius: 5px;
    margin-bottom: 20px;
}
.capturas {
    padding: 20px;
}
.capturas h3 {
    margin-bottom: 20px;
}
.images {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.screenshot {
    max-width: 45%;
    height: auto;
    border-radius: 5px;
    border: 3px solid #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
footer {
    font-family: 'Times New Roman', Times, serif;
    font-size: 12px;
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: relative;
    bottom: 0;
    width: 100%;
    margin-top: 20px;
}